<div class="container pt-5">
  <div class="card" id="card-edit">
    <div class="card-header" id="card-header-edit">
      <strong>Update User Information </strong>
    </div>
    <div class="card-body">

      <div class="row">
        
       <%= render 'form' %>

        <% if @user.errors.any? %>

        

          <div class="col-6">
            <div class="alert alert-danger" role="alert">
              Please check below <%= pluralize(@user.errors.count, "error") %> has been occured :
              <hr class="my-4">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
            

          </div>
        <% end %>


      </div>
      
    </div>
  </div>
</div>


