body {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,212,255,1) 1%, rgba(131,212,228,1) 100%);
}

#card-edit {
    border:1px solid #007bff;
}

#card-header-edit {
    background-color: #007bff;
    color: white;
}